* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-color: #E1FF8F;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 800px;
}
.header__title {
  font-size: 64px;
  font-weight: 600;
  padding-top: 196px;
  max-width: 769px;
}
.header__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  max-width: 720px;
  padding-top: 24px;
}
.header__button {
  font-size: 24px;
  color: white;
  background-color: #202027;
  border: 1px solid black;
  border-radius: 60px;
  display: flex;
  height: 66px;
  max-width: 247px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  scroll-behavior: smooth;
}
.header__button:hover {
  color: black;
  background-color: white;
}

.game {
  background-color: #202027;
}
.game__title {
  color: white;
  font-size: 64px;
  font-weight: 600;
  padding-top: 94px;
  padding-bottom: 24px;
}
.game__slogan {
  color: white;
  font-size: 24px;
  line-height: 32px;
}
.game__brick {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  padding-top: 72px;
  padding-bottom: 96px;
  position: relative;
  z-index: 1;
}
.game__brick-row {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  height: 1056px;
}
.game__brick-rowleft {
  align-items: start;
}
.game__brick-rowcentr {
  align-items: center;
}
.game__brick-rowright {
  align-items: end;
}
.game__brick-box {
  width: 378px;
  min-height: 473px;
  background-color: white;
  border-radius: 30px;
}
.game__brick-box_big {
  background-color: white;
  height: 551px;
}
.game__brick-box:hover {
  transform: scale(110%);
  transition: transform 0.3s ease;
}
.game__description {
  padding: 32px 32px 36px 32px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.game__number {
  font-size: 16px;
  line-height: 18px;
  color: #202027;
  background-color: #f7f7f7;
  border-radius: 50px;
  max-width: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 10px;
}
.game__name {
  font-size: 32px;
  color: #202027;
  font-weight: 600;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.game__name_down {
  width: -moz-min-content;
  width: min-content;
}

.headerstar {
  position: absolute;
  right: 0;
}

.star2 {
  position: absolute;
  top: 94px;
  left: 63px;
}

.star3 {
  position: absolute;
  top: 69px;
  left: 156px;
}

.star5 {
  position: absolute;
  top: 538px;
  right: 455px;
}

.star4 {
  position: absolute;
  top: 568px;
  right: 344px;
}

.star1 {
  position: absolute;
  top: 877px;
  right: 0;
  z-index: 0;
}

.star11 {
  position: absolute;
  top: 1570px;
  left: 25px;
}

.star12 {
  position: absolute;
  top: 1622px;
  left: 40px;
}

.footer {
  background-color: #BDED35;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.footer__slogan {
  font-size: 24px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */